
@{
    ViewBag.Title = "Invalid Token";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-box">
    <div class="white-box">

        <h2>Invalid Token</h2>
        
    </div>
</div>
