
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-box">
    <div class="white-box">

        <a href="javascript:void(0)" class="text-center db"><img src="../plugins/images/eliteadmin-logo-dark.png" alt="Home" /><br /><img src="../plugins/images/eliteadmin-text-dark.png" alt="Home" /></a>

        <div style="color:green; margin-top: 1em;">
            You have been resgistered successfully. <a href="~/Home/Login" class="text-primary m-l-5"><b>Sign In</b></a> to continue.
        </div>

    </div>
</div>


